@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css variable */
:root{
    --dark-purple800:#120827;
    --dark-purple : #111827;
    --title-white : #F3F4F6;
    --freetext-white: #ffffff;
    --brand-yellow: #f0a93a;
    --button-yellow: #facc15;
    --brand-gray:#9ca3af;
}

/* common Code */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Common contents */

.nav-item a{
    color: var(--brand-gray);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item a:active,
.nav-item a:hover,
.nav-item a:focus{
    color: var(--freetext-white);
}

.logo{
    margin: 2rem 0;
    text-align: center;
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
    color: var(--title-white);
}

.title-highlight{
    color:var(--brand-yellow);
}

.nav-wrapper{
    width: 90%;
    margin: auto;
    position: relative; 
}
.wrapper{
    width: 90%;
    margin: auto;
    padding: 4rem 0;
    position: relative;
}


h1, h2{
    color: var(--title-white);
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

p{
    color: var(--brand-gray);
    font-size: .9rem;
    line-height: 1.4;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
    max-width: 500px;
}

.btn{
    background-color: var(--brand-yellow);
    display: block;
    width: 100px;
    margin: auto;
    padding: 9px 9px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
   text-align: center;
   cursor: pointer;
   transition: .3s linear;
}

.btn:hover,
.btn:active,
.btn:focus{
    background-color: var(--freetext-white);
}

body{
    font-family: "Roboto", sans-serif;
}

/* mobile first approach */


header{
    position:relative;
    width: 100%;
}


nav{
    position: absolute;
    background-color: var(--dark-purple800);
    width: 100%;
    height: 80vh;
    top: 50px;
    border-radius: 10px;
    padding: 2rem;
    z-index: 1;
    box-shadow: 0 0 15px 5px  #f3f4f649;
}



.nav{
    display: none;
}

.nav-bar{
    position: absolute;
    right: 0;
    top: 2rem;
    cursor: pointer;
    display: block;
    z-index: 2;
}

.nav-bar-hide{
    display: none;
}
.bar{
    display: block;
    width: 40px;
    height: 5px;
    background-color: var(--freetext-white);
    transform: 0.3s linear;
    margin: 5px 0;
}

.nav-items{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-item{
    margin-bottom: 12px;
}

.nav-item a{
  color: var(--brand-gray);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
}

/* modal */

.modal-close{
    color: var(--brand-gray);
    font-size: 1.5rem;
    right: 0;
    top: 0;
    padding: 20px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.modal-close-closed{
    display: block;
}

.modal-close:hover{
    color: var(--freetext-white);

}

/* banner  */

.banner{
    background-color: var(--dark-purple);
}
.banner-caption{
    color: var(--brand-yellow);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

/* banner properties override */

.banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-caption{
    font-size: 1rem;
}

.banner-title{
    font-size: 3rem;
}

.banner-text{
    font-size: 1.2rem;
}

.btn-banner{
    font-size: 1.1rem;
    width: auto;
    padding: 11px 11px;
}

/* About me Section */

.section-about-me{
    background-color: black;
}

.about-me-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-about-me{
    margin: 1rem;
    border: 12px solid var(--brand-yellow);
    border-radius: 10px;
    overflow: hidden;
}

.image-about-me img{
    width: 100%;
    height: 100%;
    
}

.info-about-me{
    margin: 2rem 0;
}

/* My Services section */

.my-services{
    background-color: var(--dark-purple);
}

.services-cards{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.service-card{
    background-color: black;
    max-width: 350px;
    padding: 1rem;
}

.service-icon{
    text-align: center;
}

.service-icon i{
    color: var(--brand-yellow);
    font-size: 1.6rem;
   
}

.service-title{
    color: var(--title-white);
    margin: 1.5rem;
    text-align: center;
    font-size: 1.1rem;

}

.service-info{
    font-size: .9rem;
    width: 90%;
}

/* Portfolio */

.my-portfolio-section{
    background-color: black;


}

.portfolio-images{
    margin: 2rem 0;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2rem;

}

.img-grid{
    height: 800px;
    overflow: hidden;
}

.img-grid img{
    width: 100%;
}

/* My Experiances section */


.my-experiances-section{
    background-color: var(--dark-purple);
}

.exp-grids{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.exp-card{
  background-color: black;
  max-width: 350px;
  padding: 1rem;
  border-radius: 8px;
}

.exp-card .year{
    color: var(--freetext-white);
    text-align: center;
    display: block;
    font-size: .8rem;
    padding-bottom: 0.5rem;
}

.exp-card .exp-title{
    color:var(--brand-yellow);
    display: block;
    text-align: center;
    padding-bottom: 0.5rem;
}

.exp-card .exp-skill{
    color: var(--freetext-white);
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: .7rem;
}

.exp-card .exp-info{
    font-size: .9rem;
    width: 90%;
}


/* contact me section  */

.contact-me-section{
    background-color: black;
}

.contact-body{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-info{
    margin-bottom: 2rem;
}
.contact-information{
    font-size: .9rem;
    color: var(--freetext-white);
}

.contact-info-highlight{
    color: var(--brand-yellow);
}

.contact-form input[type="text"]{
  display: block;
  width: 350px;
  margin-bottom: 1rem;
  padding: 5px;
  border: none;
  outline:none;

}
.contact-form textarea{
    display: block;
    width: 350px;
    height: 200px;
    padding: 5px;
    border: none;
    outline:none;
    margin-bottom:1rem ;
  }

  
.contact-form input::placeholder, 
.contact-form textarea::placeholder{
    font-size: .9rem;
}

.contact-footer-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;

}

.contact-footer-icons i{
  color:rgba(128, 128, 128, 0.555);
  font-size: .9rem;
  cursor: pointer;
}

.contact-footer-icons i:hover, 
.contact-footer-icons i:active{
    color: var(--brand-gray);
}


